body {
  background-color: #1d376d;
  color: white;
  font-family: Arial;
  margin: 0;
}

.get-started {
  margin: 0 auto;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: calc(100vh - 60px);
    @media (max-width: 1640px) {
      flex-direction: column-reverse;
      overflow: scroll;
    }
  }

  &__left {
    display: flex;
    justify-content: center;
    width: 50%;
  }

  &__text {
    display: flex;
    flex-direction: column;
    @media (max-width: 1640px) {
      width: 100%;
    }
  }

  &__right {
    display: flex;
    margin: 5rem;
    @media (max-width: 1640px) {
      margin: 0;
    }
  }

  &__globe {
    width: 100%;
  }

  &__title {
    margin-bottom: 10rem;
    font-size: 52px;

    @media (max-width: 767px) {
      margin-bottom: 2rem;
      text-align: center;
    }
    @media (max-width: 1640px) {
      margin-bottom: 2rem;
      text-align: center;
    }
  }

  &__button {
    margin-top: 9rem;
    font-size: 22px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    color: white;
    text-decoration: none;
    margin-right: 1rem;

    @media (max-width: 767px) {
      margin-top: 3rem;
      font-size: 18px;
      font-weight: bold;
      display: flex;
      justify-content: center;
      color: white;
      text-decoration: none;
      margin-right: 1rem;
      margin-bottom: 5rem;
    }
    @media (max-width: 1640px) {
      margin-top: 3rem;
      font-size: 25px;
      font-weight: bold;
      display: flex;
      justify-content: center;
      color: white;
      text-decoration: none;
      margin-right: 1rem;
      margin-bottom: 5rem;
    }
  }

  &__icon {
    margin-right: 1rem;
  }
}

.volume-bar {
  background-color: #c4c4c4;
  height: 40px;
  color: #08395b;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 1.25rem;

  &__slider {
    width: 600px;
    background-color: #08395b;
    display: flex;
    justify-content: center;
    height: 15px;
  }

  &__icon {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}
